<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.finalproject.mapper.EmployeePaymentMapper">
<!-- 결제리스트(직원) -->
<select id="selectEmployeePaymentList" resultType="map">
SELECT 
p.course_no courseNo,
p.lecture_no lectureNo,
p.user_id userId,
p.locker_no lockerNo,
p.pay_method payMethod,
p.pay_date payDate,
FORMAT(l.lecture_price, 0) lecturePrice,
l.lecture_name lectureName,
DATE_FORMAT(p.pay_date, '%y-%m-%d') payDateYMD,
p.refund refund,
FORMAT(p.pay_price, 0) payPrice

FROM payment p LEFT JOIN lecture l
ON p.lecture_no = l.lecture_no
ORDER BY course_no ASC
LIMIT #{beginRow},#{rowPerPage}
</select>
<!-- 결제리스트Total -->
<select id="getEmployeePaymentTotal" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM
		payment
	</select>
</mapper>