<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.finalproject.mapper.LectureMapper">
	<!-- lectureList -->
	<select id="selectLectureList" resultType="map"> <!-- map : java.util.Map 약식표현, list, string ,int(java.lang.Integer),... -->
		SELECT
			lecture_no lectureNo,
			instructor_id instructorNo,
			location_no locationNo,
			lecture_name lectureName,
			lecture_limited lectureLimited,
			lecture_time lectureTime,
			lecture_price lecturePrice,
			lecture_startDate lectureStartDate,
			lecture_endDate lectureEndDate
		FROM lecture 
		ORDER BY lecture_name
	</select>
</mapper>