<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.finalproject.mapper.ReviewMapper">
	<!-- 리뷰 리스트(reviewList) -->
	<select id="selectReviewList" resultType="com.gd.finalproject.vo.Review" parameterType="com.gd.finalproject.vo.Review">
		SELECT 
			review_no reviewNo,
			lecture_no lectureNo,
			course_no courseNo,
			review_writer reviewWriter,
			review_content reviewContent,
			DATE_FORMAT(create_date,'%Y-%m-%d %T') createDate,
			update_date updateDate
		FROM review 
		WHERE lecture_no=#{lectureNo}
		ORDER BY create_date DESC
		LIMIT #{beginRow},#{rowPerPage} 
	</select>
	
	<!-- 리뷰 리스트(reviewList) - 페이징 -->
	<select id="getReviewTotal" resultType="int" parameterType="com.gd.finalproject.vo.Review">   
		SELECT COUNT(*)
        FROM review
        WHERE lecture_no = #{letureNo}
    </select>
	
	<!-- 리뷰 추가(addReview) -->
	<insert id="insertReview" parameterType="com.gd.finalproject.vo.Review">
		INSERT INTO review 
        	 (lecture_no, course_no, review_writer, review_content, create_date, update_date)
     	 SELECT #{lectureNo}, #{courseNo}, #{reviewWriter}, #{reviewContent}, NOW(), NOW()
     	 FROM payment where refund='N' AND course_no = #{courseNo}
	</insert>
	
	<!-- 리뷰 수정(updateReview) -->
	<update id="updateReview" parameterType="com.gd.finalproject.vo.Review">
		UPDATE review 
		SET review_title = #{reviewTitle}, 
			review_content = #{reviewContent}, 
			update_date = NOW() 
		WHERE course_no = #{courseNo}"
	</update>
	
	<!-- 리뷰 삭제(deleteReview) -->
	<delete id="deleteReview" parameterType="int">
		DELETE FROM review WHERE course_no = #{courseNo}
	</delete>
	
</mapper>