<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.finalproject.mapper.SalesMapper">
	<!-- 과목별 매출리스트 -->
	<select id="selectLectureSalesList" resultType="map">
		SELECT
		p.user_id
		userId,
		p.pay_method payMethod,
		FORMAT(l.lecture_price, 0) lecturePrice,
		l.lecture_name lectureName,
		DATE_FORMAT(p.pay_date, '%y-%m-%d')
		payDateYMD
		FROM payment p LEFT JOIN lecture l
		ON p.lecture_no =
		l.lecture_no
		WHERE l.lecture_name=#{lectureName}
		LIMIT
		#{beginRow},#{rowPerPage}

	</select>

	<!-- 과목별 매출리스트 페이징 Total -->
	<select id="getLectureSalesTotal" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM payment p LEFT JOIN lecture l
		ON p.lecture_no = l.lecture_no
		WHERE
		l.lecture_name=#{lectureName}
	</select>

	<!-- 과목별 총 매출 -->
	<select id="getTotalSales" resultType="map">
		SELECT
		l.lecture_name lectureName,
		SUM(l.lecture_price) totalSales
		FROM lecture l JOIN payment p
		ON l.lecture_no = p.lecture_no
		GROUP BY l.lecture_name
		ORDER BY l.lecture_name ASC
	</select>


</mapper>